header{
    background-image: linear-gradient(to right, rgba(73, 134, 33, 0.850), rgba(165, 42, 42, 0.850));
    height: 40px;
    width:100vw;
    position: fixed;
}
body{
    background-image: url("../Images/GameState1.png");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.titulo{
    margin-top: 40px;
    color: #ff005e;
}
ol{
    color: white;
    background-color: rgba(255, 99, 71, 0.750);
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
img{
    width: 600px;
    height: auto;
    margin: 12px;
}
h2{
    color: white;
}
a{
    color: dodgerblue;
    display: inline-block;
    transition: font-size 0.3s ease;
}
a:hover{
    transform: scale(1.30);
}
p{
    color: white;
    margin: 32px;
}
.creditos{
    background-color: rgba(83, 59, 121, 0.750);
    max-width: fit-content;
}
.neon {
    width: 150px;
    height: fit-content;
    position: fixed;
    bottom: 20px;
    left: 20px;
    margin: 5px;
    background: #000;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}
.texto {
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}