header{
    background-image: linear-gradient(to right, rgba(73, 134, 33, 0.850), rgba(165, 42, 42, 0.850));
    height: 5vh;
    width:100vw;
    position: fixed;
}
body{
    background-image: url("../Images/GameState1.png");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.titulo{
    margin-top: 5vh;
    color: #ff005e;
}
ol{
    color: white;
    background-color: rgba(255, 99, 71, 0.750);
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
img{
    width: 35vw;
    height: auto;
    margin: 2vh,2vw;
}
h2{
    color: white;
}
a{
    color: dodgerblue;
    display: inline-block;
    transition: font-size 0.3s ease;
    height: 5vh;
    width: 70vw;
    max-width: fit-content;
    max-height: fit-content;
}
a:hover{
    transform: scale(1.30);

}
p{
    color: white;
    margin: 4vw;
}
.creditos{
    background-color: rgba(83, 59, 121, 0.750);
    max-width: fit-content;
}
.neon {
    height: 5vh;
    width: fit-content;
    position: fixed;
    bottom: 6vh;
    left: 0;
    margin: 0;
    background: #000;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}
.texto {
    font-size: 1.5vh;
    color: #fff;
    text-shadow: 0 0 1vh #ff005e, 0 0 2vh #ff005e, 0 0 3vh #ff005e, 0 0 4vh #ff005e, 0 0 5vh #ff005e;
    animation: glow 1.5s infinite alternate;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 1vh #ff005e, 0 0 2vh #ff005e, 0 0 3vh #ff005e, 0 0 4vh #ff005e, 0 0 8vh #ff005e;
    }
    100% {
        text-shadow: 0 0 2vh #00d4ff, 0 0 3vh #00d4ff, 0 0 4vh #00d4ff, 0 0 8vh #00d4ff, 0 0 16vh #00d4ff;
    }
}