body{
    background-image: url("../Images/GameState1.png");
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0;
}
header{
    background-image: linear-gradient(to right, rgb(235, 221, 145), rgb(165, 42, 149));
    height: 40px;
    width:100vw;
    position: fixed;
    display: flex;
    justify-content: center;
}
a:hover{
    display: inline-block;
    transition: font-size 0.3s ease;
    transform: scale(1.30);
}
.titulo{
    background-color: forestgreen;
    text-align: center;
}
h2{
    background-color: forestgreen;
    text-align: center;
}
h4{
    color: white;
}
p{
    color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
img{
    width: 600px;
    height: auto;
}
.banner{
    height: 350px;
    width: 1100px;
}
footer{
    color: white;
    height: 32px;
}
.texto{
    color: #fff;
    background-color: #000;
}
.neon {
    width: 150px;
    height: fit-content;
    position: fixed;
    bottom: 20px;
    left: 20px;
    margin: 5px;
    background: #000;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}
.texto {
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}