body{
    background-image: url("../Images/GameState1.png");
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0;
}
header{
    background-image: linear-gradient(to right, rgb(235, 221, 145), rgb(165, 42, 149));
    height: 5vh;
    width:100vw;
    position: fixed;
    display: flex;
    justify-content: center;
}
a:hover{
    display: inline-block;
    transition: font-size 0.3s ease;
    transform: scale(1.30);
}
.titulo{
    background-color: forestgreen;
    text-align: center;
}
h2{
    background-color: forestgreen;
    text-align: center;
}
h4{
    color: white;
}
p{
    color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
img{
    width: 35vw;
    height: auto;
}
.banner{
    height: 33vh;
    width: 75vh;
    max-width: 100%;
}
footer{
    color: white;
    height: 4vh;
}
.texto{
    color: #fff;
    background-color: #000;
}
.neon {
    height: 5vh;
    width: fit-content;
    position: fixed;
    bottom: 6vh;
    left: 0;
    margin: 0;
    background: #000;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}
.texto {
    font-size: 1.5vh;
    color: #fff;
    text-shadow: 0 0 1vh #ff005e, 0 0 2vh #ff005e, 0 0 3vh #ff005e, 0 0 4vh #ff005e, 0 0 5vh #ff005e;
    animation: glow 1.5s infinite alternate;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 1vh #ff005e, 0 0 2vh #ff005e, 0 0 3vh #ff005e, 0 0 4vh #ff005e, 0 0 8vh #ff005e;
    }
    100% {
        text-shadow: 0 0 102vh #00d4ff, 0 0 3vh #00d4ff, 0 0 4vh #00d4ff, 0 0 8vh #00d4ff, 0 0 16vh #00d4ff;
    }
}